        <tbody>
          <tr>
            <th>Done</th>
            <% @data.each do |data| %>
              <td><%= done_todos(data["todos_statuses"]) %></td>
            <% end %>
          </tr>
          <tr>
            <th>In Progress</th>
            <% @data.each do |data| %>
              <td><%= progress_todos(data["todos_statuses"]) %></td>
            <% end %>
          </tr>
          <tr>
            <th>New</th>
            <% @data.each do |data| %>
              <td><%= new_todos(data["todos_statuses"]) %></td>
            <% end %>
          </tr>    
        </tbody>
      </table>
    </div>