<div class="col-12">
  <div class="digg_pagination">
    <div class="page_container">
      <div class="page_info">
        <%= page_entries_info resource %>
      </div>
      <%= will_paginate resource %>
    </div>
  </div>
</div>