<div class="container">
  <div class="row pt-5">
    <div class="col-6">
      <h2> Edit Project </h2>
    </div>
    <div class="col-6">
      <% if policy(@project).get_developers? %>
        <%= link_to "Add Developer", get_developers_project_path(@project), class: "btn btn-success float-right btn-width" %>
      <% end %>
    </div>
    <div class="col-6">
      <%= render 'projects/form' %>
    </div>
    <div class="col-6"></div>
    <div class="col-6 mt-5">
      <%= render "todos/new_todo_form", project: @project %>
    </div>
    <div class="col-12 mt-5">
      <%= render "todos/list", todos: @todos %>
    </div>
  </div>
</div>