/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";

 .form-inner {
  height: 100%;
  display: table;
  width: 100%;
  background: #dfebfb;
  //background: #f2f0f1;
}

.form-middle {
  vertical-align: middle;
  display: table-cell;
  height: 100vh;
}

.form-details {
  max-width: 666px;
  margin: 0 auto;
  background: #fff;
  padding: 35px;
  border-radius: 7px;
  box-shadow: 0 0 7px rgba(0,0,0,0.1);
}

.form-details label {
  width: 100%;
  margin-bottom: 20px;
}

input:focus, input:hover {
  outline: none;
}

.form-details input[type="email"], .form-details input[type="password"], .form-details input[type="text"] {
  width: 100%;
  padding-left: 10px;
  background: #f4f4f4;
  height: 40px;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  font-weight: 600;
}

.form-details span {
  margin-left: 15px;
  vertical-align: top;
  font-weight: 400;
  font-size: 14px;
}

.btn-sub span a, .btn-sub span a:hover {
  color: #000; 
  font-size: 15px;
}

 @media (max-width:767px) {
  .form-middle {
    display: block;
    height: auto;
    padding: 15px;
  }
}

.digg_pagination {
  margin-top: 0.5rem;
  background: white;
  cursor: default;
  a, span, em {
    padding: 0.2em 0.5em;
    display: block;
    margin-right: 1px;
  }
  .disabled {
    color: #999999;
    border: 1px solid #dddddd;
  }
  .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1;
  }
  a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5;
    &:hover, &:focus {
      color: #000033;
      border-color: #000033;
    }
  }
  .page_info {
    margin: auto;
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center;
    b {
      color: #000033;
      background: #2e6ab1 + 60;
      padding: 0.1em 0.25em;
    }
  }
  .pagination {
    padding-left: 25%;
  }
}

.btn-width {
  width: 10rem;
}

